<div class="m-5">
  <h3>Consulta de contatos</h3>
  <p>Listagem de contatos cadastrados.</p>


  <div class="mb-3">
    <button class="btn btn-outline-success btn-sm"
      data-bs-toggle="modal" data-bs-target="#modalCadastro">
      Cadastrar contato
    </button>
  </div>


  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nome do contato</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Data/Hora de cadastro</th>
        <th>Operações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of contatos">
        <td>{{c.nome | uppercase}}</td>
        <td>{{c.email | lowercase}}</td>
        <td>{{c.telefone}}</td>
        <td>{{c.dataHoraCadastro | date : 'dd/MM/yyyy HH:mm'}}</td>
        <td>
          <button class="btn btn-outline-primary btn-sm me-2"
            data-bs-toggle="modal"
            data-bs-target="#modalEdicao"
            (click)="onEdit(c.id)">
            Editar
          </button>
          <button class="btn btn-outline-danger btn-sm"
            (click)="onDelete(c.id)">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Quantidade de contatos: {{contatos.length}}</td>
      </tr>
    </tfoot>
  </table>
</div>


<!-- Modal de cadastro -->
<div class="modal fade" id="modalCadastro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastro de contatos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       
        <form [formGroup]="form" (ngSubmit)="onSubmit()">


          <div class="mb-2">
            <label>Nome do contato:</label>
            <input type="text" placeholder="Digite aqui" class="form-control"
              formControlName="nome"/>
            <div class="text-danger" *ngIf="f['nome'].touched && f['nome'].invalid">
              O preenchimento do nome é obrigatório e deve ter de 8 a 100 caracteres.
            </div>
          </div>
         
          <div class="mb-2">
            <label>Email:</label>
            <input type="text" placeholder="Digite aqui" class="form-control"
              formControlName="email"/>
            <div class="text-danger" *ngIf="f['email'].touched && f['email'].invalid">
              O preenchimento do email é obrigatório e deve contem um endereço de email válido.
            </div>
          </div>


          <div class="mb-2">
            <label>Telefone:</label>
            <input type="text" placeholder="Digite aqui" class="form-control"
              formControlName="telefone"/>
            <div class="text-danger" *ngIf="f['telefone'].touched && f['telefone'].invalid">
              O preenchimento do telefone é obrigatorio e deve estar no formato (99) 99999-9999.
            </div>
          </div>


          <div class="mb-2">
            <button type="submit" class="btn btn-success"
              [disabled]="form.invalid"
              data-bs-dismiss="modal">
              Realizar Cadastro
            </button>
          </div>


        </form>


      </div>
    </div>
  </div>
</div>


<!-- Modal de edição -->
<div class="modal fade" id="modalEdicao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edição de contatos</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <form [formGroup]="formEdicao" (ngSubmit)="onEditSubmit()">


          <!-- campo oculto (id do contato) -->
          <input type="hidden" formControlName="id"/>


          <div class="mb-3">
            <label>Nome do contato:</label>
            <input type="text" class="form-control" formControlName="nome"/>
            <div class="text-danger" *ngIf="fEdicao['nome'].touched && fEdicao['nome'].invalid">
              O preenchimento do nome é obrigatório e deve ter de 8 a 100 caracteres.
            </div>
          </div>


          <div class="mb-3">
            <label>Email:</label>
            <input type="text" class="form-control" formControlName="email"/>
            <div class="text-danger" *ngIf="fEdicao['email'].touched && fEdicao['email'].invalid">
              O preenchimento do email é obrigatório e deve contem um endereço de email válido.
            </div>
          </div>


          <div class="mb-3">
            <label>Telefone:</label>
            <input type="text" class="form-control" formControlName="telefone"/>
            <div class="text-danger" *ngIf="fEdicao['telefone'].touched && fEdicao['telefone'].invalid">
              O preenchimento do telefone é obrigatorio e deve estar no formato (99) 99999-9999.
            </div>
          </div>


          <div class="mb-3">
            <input type="submit" class="btn btn-primary"
              [disabled]="formEdicao.invalid"
              data-bs-dismiss="modal"
              value="Salvar alterações"/>
          </div>


        </form>


      </div>
    </div>
  </div>
</div>
